<%- include('./partials/header.ejs'); -%>
<h1>Home</h1>
<p><%= startingContent  %></p>
<% postsContent.forEach(function(post) { %>
  <h1><%= post.title %></h1>
  <p><%= post.post.slice(0,100) %>... <a href="/post/<%= encodeURIComponent(post.title) %>">Read More</a></p>
<% }); %>
<%- include('./partials/footer.ejs'); -%>

